body {
    font-family: 'Arial';
    background-image:url(photo2.png);
    color: green;
    margin: 0;
    padding: 20px;
    postion: relative;
    font-size:25px;
}

img{
    position: absolute;
    top:20px;
    right:20px;
    width:14%;
    border-radius: 10px;
    border: 2px solid green;
    box-shadow: 0 4px 12px green;

}

iframe {
    position: center;
    top:20px;
    right:20px;
    width:14%;
    border-radius: 10px;
    border: 2px solid green;
    box-shadow: 0 4px 12px green;
}

a{
    color: green
}

h1{
    position: center
    color: green
    border-bottom: 2px green ;
    padding-bottom : 5px;
    margin-top : 30px;
}

h2{
    position: center
    color: green
    border-bottom: 2px green ;
    padding-bottom : 5px;
    margin-top : 30px;
}


a:hover{
    text-decoration: underline;
    color: yellow;
}

ul{
    margin: 20px;
    list-style-type: disc;
    padding-left:20px;
}

li{
    margin: 8px 0;
}

#texte {
  color: green;
  font-family: 'Arial';
  font-size: 30px;
  border-right: 2px solid green;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}
